<h1>Listing task_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
  </tr>

<% @task_types.each do |task_type| %>
  <tr>
    <td><%=h task_type.name %></td>
    <td><%=h task_type.project %></td>
    <td><%= link_to 'Show', task_type %></td>
    <td><%= link_to 'Edit', edit_task_type_path(task_type) %></td>
    <td><%= link_to 'Destroy', task_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New task_type', new_task_type_path %>