<h1>Lista de Projetos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.description %></td>
    <td><%= link_to 'Mostrar', project %></td>
    <td><%= link_to 'Editar', edit_project_path(project) %></td>
    <td><%= link_to 'Remover', project, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo projeto', new_project_path %>
