<table width="100%">
  <tr>
    <th>Data</th>
    <th>Usuário</th>
    <th>Projeto</th>
    <th>Tipo de Tarefa</th>
    <th>Horas Trabalhadas</th>
  </th>
  <% @summary_report.report_data.each do |rd| %>
  <tr>
    <td><%= rd[:task_date] %></td>
    <td><%=h rd[:user] %></td>
    <td><%=h rd[:project] %></td>
    <td><%=h rd[:task] %></td>
    <td><%=h rd[:total_work] %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Novo Relatório', new_summary_report_path %>
